In [1]:
import numpy as np
import pandas as pd

In [2]:
import urllib.request

In [3]:
urlstr = "http://abel.lis.illinois.edu/cgi-bin/cohese/search.py?PMIDs="
Function_words = []

In [4]:
def isNum(str):
    if(any(dig.isdigit() for dig in str) == True):
        return True
    else:
        return False

def parse(s):
    tuples = s.split('), ')
    out = []
    for x in tuples:
        #print(x)
        a,b,c,d = x.strip('[]()""\n').split(', ')
        a = a.replace("'", "")
        d = d.replace("'", "")
        #print(a, b, c, d)
        if(isNum(b) == True):
            b = float(b)
        else:
            b = b.replace("'", "")
        out.append([str(a), b, float(c), str(d)])
    return out

In [5]:
def getListofWords(pin):
    pmidurl = urlstr + str(pin)
    with urllib.request.urlopen(pmidurl) as url:
        string_data = url.read().decode("utf-8")
        list_words = parse(string_data)
        print(pmidurl)
        worddf = pd.DataFrame(list_words, columns=['Word', 'CohessionScore', 'Freq', 'Association'])
        # convert stopwords into cohession score = -1
        worddf.loc[worddf['CohessionScore'] == 'stopword', 'CohessionScore'] = -1
        # remove any remaining spaces
        worddf.Association = worddf.Association.str.strip()
        worddf.Word = worddf.Word.str.strip()
        # convert CohessionScore from object to numberic
        worddf.CohessionScore = worddf.CohessionScore.convert_objects(convert_numeric=True)
        # Filter based on CohessionScore and Association
        filtered_worddf = worddf.loc[(worddf['CohessionScore'] < 0.1)]
        filtered_worddf = filtered_worddf.loc[((filtered_worddf['Association'].str.contains("\\\\N")) | \
                                               (filtered_worddf['Association'].str.contains("None")))]
        #Function_words = Function_words.append(filtered_worddf)
        #if(Function_words.shape[0] % 50 == 0):
        #    print(Function_words.shape[0])
        return filtered_worddf

##### Trial Code

In [150]:
worddf = pd.DataFrame(list_words, columns=['Word', 'CohessionScore', 'Freq', 'Association'])

In [151]:
worddf.loc[worddf['CohessionScore'] == 'stopword', 'CohessionScore'] = -1

In [152]:
worddf.Association = worddf.Association.str.strip()
worddf.Word = worddf.Word.str.strip()

In [154]:
worddf.CohessionScore = worddf.CohessionScore.convert_objects(convert_numeric=True)
worddf.dtypes

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

Word               object
CohessionScore    float64
Freq              float64
Association        object
dtype: object

In [156]:
worddf.head()

                  Word  CohessionScore      Freq Association
0  spatial integration        0.245614     184.0       \\\\N
1       characteristic        0.050822  423070.0       \\\\N
2                 were       -1.000000       0.0        None
3             assessed        0.060656  286682.0       \\\\N
4                 with       -1.000000       0.0        None

In [163]:
filtered_worddf = worddf.loc[(worddf['CohessionScore'] < 0.1)]
filtered_worddf = filtered_worddf.loc[((filtered_worddf['Association'].str.contains("\\\\N")) | (filtered_worddf['Association'].str.contains("None")))]

##### Run above functions

In [7]:
import time

In [6]:
authors_data = pd.DataFrame.from_csv("D:\\Research\\Data\\soloauthors.tsv", sep='\t')
PMID = authors_data.index
PMID = np.array(PMID)

In [1]:
type(authors_data)

NameError: name 'authors_data' is not defined

In [7]:
PMID[1:100]

array([3940060, 3128160, 3659720, 3310230, 3667770, 3312530, 3318440,
       3318590, 3319230, 2961710, 3696080, 3434650, 3447340, 3275690,
       3342810, 3125250, 3279560, 2451290, 3282770, 3284150, 3284620,
       3373570, 3131880, 3260080, 3390250, 3292080, 3394940, 3042320,
       3139060, 3049740, 3171910, 3171920, 3176070, 2902830, 3052820,
       2972850, 3055200, 3142030, 3056010, 3062030, 3062350, 2463550,
       3213850, 3064280, 3067020, 2852480, 3230510, 3068820, 3072260,
       2909040, 2643420, 2536580, 2921400, 2522140, 2924480, 2926630,
       2564660, 2929790, 2648870, 2651430, 2652250, 2469120, 2540520,
       2565720, 2654890, 2720680, 2729610, 2659480, 2660260, 2525600,
       2500880, 2500990, 2545410, 2526170, 2665590, 2755510, 2474600,
       2764010, 2765190, 2671090, 2570370, 2776030, 2673580, 2676100,
       2677200, 2678550, 2552810, 2805070, 2553730, 2817210, 2819230,
       2684340, 2573430, 2585630, 2586370, 2692630, 2560900, 2633310,
       2517980], dtype=int64)

In [10]:
from joblib import Parallel, delayed
import multiprocessing

##### Parallel Processing

In [11]:
chunk_size = 500

chunks = [PMID[i:i + chunk_size] for i in range(0, PMID[1:10000].shape[0], chunk_size)]

len(chunks)

20

In [ ]:
num_cores = multiprocessing.cpu_count()
print(num_cores)

# create our pool with `num_processes` processes
pool = multiprocessing.Pool(processes=num_cores)

start_time = time.time()
# apply our function to each chunk in the list
result = pool.map(getListofWords, chunks)


#results = Parallel(n_jobs=num_cores)(delayed(getListofWords)(urlstr + str(pin)) for pin in PMID[1:10])
end_time = time.time()

print(end_time - start_time)

8

In [9]:
PMID[1:30000].shape

(29999,)

In [12]:
start_time = time.time()
result = pd.DataFrame(columns = ['Word', 'CohessionScore', 'Freq', 'Association'])
for ind, pin in enumerate( PMID[1:30000] ):
    result = result.append(getListofWords(urlstr + str(pin)))  
    if(ind % 100 == 0):
        print(ind, " completed...")
        print("Time till now: ", time.time() - start_time)
end_time = time.time()

C:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if sys.path[0] == '':

0  completed...
Time till now:  0.7677397727966309
100  completed...
Time till now:  78.61974787712097
200  completed...
Time till now:  157.54239153862
300  completed...
Time till now:  235.98217034339905
400  completed...
Time till now:  316.9121022224426
500  completed...
Time till now:  397.7442219257355
600  completed...
Time till now:  479.5858623981476
700  completed...
Time till now:  574.1575951576233
800  completed...
Time till now:  654.766480922699
900  completed...
Time till now:  737.5341105461121
1000  completed...
Time till now:  819.4620816707611
1100  completed...
Time till now:  901.0445265769958
1200  completed...
Time till now:  982.5058181285858
1300  completed...
Time till now:  1065.1923019886017
1400  completed...
Time till now:  1148.183394908905
1500  completed...
Time till now:  1239.0090563297272
1600  completed...
Time till now:  1330.7220339775085
1700  completed...
Time till now:  1424.4471774101257
1800  completed...
Time till now:  1518.133810043335
1900  completed...
Time till now:  1610.6003699302673
2000  completed...
Time till now:  1700.9491748809814
2100  completed...
Time till now:  1790.6629612445831
2200  completed...
Time till now:  1887.571034193039
2300  completed...
Time till now:  1991.4026155471802
2400  completed...
Time till now:  2083.9206626415253
2500  completed...
Time till now:  2173.026441335678
2600  completed...
Time till now:  2263.665895462036
2700  completed...
Time till now:  2356.551396369934
2800  completed...
Time till now:  2448.4909501075745
2900  completed...
Time till now:  2540.0168154239655
3000  completed...
Time till now:  2642.944079399109
3100  completed...
Time till now:  2733.306219816208
3200  completed...
Time till now:  2832.8129909038544
3300  completed...
Time till now:  2924.7032153606415
3400  completed...
Time till now:  3016.026568174362
3500  completed...
Time till now:  3107.265981197357
3600  completed...
Time till now:  3197.9983735084534
3700  completed...
Time till now:  3289.202999353409
3800  completed...
Time till now:  3384.9088242053986
3900  completed...
Time till now:  3476.6237075328827
4000  completed...
Time till now:  3571.789794921875
4100  completed...
Time till now:  3663.1051111221313
4200  completed...
Time till now:  3754.1934030056
4300  completed...
Time till now:  3845.446771621704
4400  completed...
Time till now:  3936.7161350250244
4500  completed...
Time till now:  4030.241680622101
4600  completed...
Time till now:  4123.299197673798
4700  completed...
Time till now:  4216.518900632858
4800  completed...
Time till now:  4310.118927240372
4900  completed...
Time till now:  4408.289096355438
5000  completed...
Time till now:  4502.148352146149
5100  completed...
Time till now:  4597.511125326157
5200  completed...
Time till now:  4692.084088802338
5300  completed...
Time till now:  4786.574078798294
5400  completed...
Time till now:  4883.728028297424
5500  completed...
Time till now:  4990.8389003276825
5600  completed...
Time till now:  5087.358302354813
5700  completed...
Time till now:  5183.875619649887
5800  completed...
Time till now:  5285.620351314545
5900  completed...
Time till now:  5382.724113225937
6000  completed...
Time till now:  5479.981193065643
6100  completed...
Time till now:  5578.571550130844
6200  completed...
Time till now:  5677.412018060684
6300  completed...
Time till now:  5781.8463389873505
6400  completed...
Time till now:  5888.680754184723
6500  completed...
Time till now:  5987.058908224106
6600  completed...
Time till now:  6086.397928237915
6700  completed...
Time till now:  6185.208088874817
6800  completed...
Time till now:  6283.633419752121
6900  completed...
Time till now:  6383.454412937164
7000  completed...
Time till now:  6486.523380279541
7100  completed...
Time till now:  6588.082725763321
7200  completed...
Time till now:  6692.886119604111
7300  completed...
Time till now:  6791.89425945282
7400  completed...
Time till now:  6891.038937568665
7500  completed...
Time till now:  6990.481694221497
7600  completed...
Time till now:  7096.246613740921
7700  completed...
Time till now:  7197.872319698334
7800  completed...
Time till now:  7298.85592508316
7900  completed...
Time till now:  7406.568758487701
8000  completed...
Time till now:  7509.762881040573
8100  completed...
Time till now:  7611.146943330765
8200  completed...
Time till now:  7712.92241859436
8300  completed...
Time till now:  7815.437322378159
8400  completed...
Time till now:  7918.624876976013
8500  completed...
Time till now:  8021.448713302612
8600  completed...
Time till now:  8124.846812486649
8700  completed...
Time till now:  8227.611873865128
8800  completed...
Time till now:  8339.421790599823
8900  completed...
Time till now:  8442.635908842087
9000  completed...
Time till now:  8547.129564285278
9100  completed...
Time till now:  8651.821772098541
9200  completed...
Time till now:  8756.973922014236
9300  completed...
Time till now:  8861.387012720108
9400  completed...
Time till now:  8967.024528980255
9500  completed...
Time till now:  9075.35003566742
9600  completed...
Time till now:  9182.31092429161
9700  completed...
Time till now:  9288.518955469131
9800  completed...
Time till now:  9396.38425707817
9900  completed...
Time till now:  9504.136277914047
10000  completed...
Time till now:  9611.212107181549
10100  completed...
Time till now:  9720.67574596405
10200  completed...
Time till now:  9831.65498828888
10300  completed...
Time till now:  9945.960429906845
10400  completed...
Time till now:  10053.571983337402
10500  completed...
Time till now:  10168.797989368439
10600  completed...
Time till now:  10281.955797672272
10700  completed...
Time till now:  10392.085837125778
10800  completed...
Time till now:  10502.03580546379
10900  completed...
Time till now:  10612.30594086647
11000  completed...
Time till now:  10723.225846529007
11100  completed...
Time till now:  10833.274069786072
11200  completed...
Time till now:  10943.460891723633
11300  completed...
Time till now:  11054.800848007202
11400  completed...
Time till now:  11164.748298883438
11500  completed...
Time till now:  11276.016287088394
11600  completed...
Time till now:  11388.207180261612
11700  completed...
Time till now:  11499.18320775032
11800  completed...
Time till now:  11612.808914661407
11900  completed...
Time till now:  11724.943714857101
12000  completed...
Time till now:  11837.700543642044
12100  completed...
Time till now:  11949.44666647911
12200  completed...
Time till now:  12061.968828439713
12300  completed...
Time till now:  12174.05970954895
12400  completed...
Time till now:  12287.235510587692
12500  completed...
Time till now:  12400.15951538086
12600  completed...
Time till now:  12512.433975458145
12700  completed...
Time till now:  12624.341578960419
12800  completed...
Time till now:  12737.889742851257
12900  completed...
Time till now:  12851.193869113922
13000  completed...
Time till now:  12965.354065418243
13100  completed...
Time till now:  13080.206337928772
13200  completed...
Time till now:  13195.832344532013
13300  completed...
Time till now:  13312.36110329628
13400  completed...
Time till now:  13433.097736597061
13500  completed...
Time till now:  13549.397366046906
13600  completed...
Time till now:  13666.773896455765
13700  completed...
Time till now:  13792.44552230835
13800  completed...
Time till now:  13913.982446193695

C:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [14]:
#print(end_time - start_time)
result

               Word  CohessionScore      Freq Association
1    characteristic        0.050822  423070.0       \\\\N
2              were       -1.000000       0.0        None
3          assessed        0.060656  286682.0       \\\\N
4              with       -1.000000       0.0        None
6               for       -1.000000       0.0        None
7              both       -1.000000       0.0        None
9               and       -1.000000       0.0        None
14             were       -1.000000       0.0        None
16            while       -1.000000       0.0        None
20             both       -1.000000       0.0        None
21             were       -1.000000       0.0        None
22           varied        0.047793  100999.0       \\\\N
23               it       -1.000000       0.0        None
24              was       -1.000000       0.0        None
25            found       -1.000000       0.0        None
26             that       -1.000000       0.0        None
27              the       -1.000000       0.0        None
29               of       -1.000000       0.0        None
30              the       -1.000000       0.0        None
33             with       -1.000000       0.0        None
35              but       -1.000000       0.0        None
37             with       -1.000000       0.0        None
42             from       -1.000000       0.0        None
43              the       -1.000000       0.0        None
45            below       -1.000000       0.0        None
47              but       -1.000000       0.0        None
48              can       -1.000000       0.0        None
49               be       -1.000000       0.0        None
51              for       -1.000000       0.0        None
54               as       -1.000000       0.0        None
..              ...             ...       ...         ...
192              of       -1.000000       0.0        None
193             the       -1.000000       0.0        None
195            both       -1.000000       0.0        None
197              of       -1.000000       0.0        None
198             the       -1.000000       0.0        None
200             are       -1.000000       0.0        None
201        strongly       -1.000000       0.0        None
203     providing a        0.066834   13501.0       \\\\N
205     stabilising        0.071233     893.0       \\\\N
207              at       -1.000000       0.0        None
208          either       -1.000000       0.0        None
210              of       -1.000000       0.0        None
211             the       -1.000000       0.0        None
214              to       -1.000000       0.0        None
215             the       -1.000000       0.0        None
217              on       -1.000000       0.0        None
218             the       -1.000000       0.0        None
221              is       -1.000000       0.0        None
222         further       -1.000000       0.0        None
223      influenced        0.050565   88523.0       \\\\N
224              by       -1.000000       0.0        None
228           which       -1.000000       0.0        None
229           would       -1.000000       0.0        None
230              be       -1.000000       0.0        None
231        expected        0.055094  125874.0       \\\\N
232              to       -1.000000       0.0        None
234             out       -1.000000       0.0        None
237              of       -1.000000       0.0        None
238             the       -1.000000       0.0        None
241             and       -1.000000       0.0        None

[1062844 rows x 4 columns]